#editor.block-editor__container  {
	.edit-post-header {
		& > div:nth-child(1):not(.css-0) {
			margin-right: 5px;
		}

		.css-0 {
			display: flex;
			align-items: center;
			gap: 7.5px;
			margin-right: -15px;
		}
	}
}

#search-replace-modal {
	&__text-group {
		display: flex;
		flex-direction: column;
		gap: 0.75em;
		margin: 0.75em 0;
	}

	&__button-group {
		display: flex;
		gap: 10px;

		button {
			margin: 0;
			width: 50%;
			justify-content: center;
			width: calc(50% - 5px);
			box-sizing: border-box;
		}
	}

	&__toggle {
		margin-bottom: 1.5em;
	}

	&__notification {
		margin: 1.5em 0;
		padding: 0.75em 1.1em;
		background: #F1F1F1;
		border-left: 5px solid orangered;

		p {
			margin: 0;
			padding: 0;
		}
	}
}
